.intro {
  width: 60%;
  margin: 1em 7em 0 2em;
  line-height: 2.5;
}

.intro p {
  margin-top: 2em;
}

.pic {
  border-radius: 20px;
  width: 300px;
}

.about {
  background-color: #3e3c3c;
  color: white;
  padding: 5em 1em 5em;
  line-height: 2.5;
}
.about h4 {
  margin-bottom: 2em;
}


