.about {
  color: white;
  padding: 5em 1em 5em;
  line-height: 2.5;
}
.about h4 {
  margin-bottom: 2em;
}
.greeting {
  color: white;
}
.greeting h1 {
  font-size: 72px;
}
.greeting a {
  color: rgb(185, 181, 181);
  text-decoration: none;
}
.bg {
  height: 100vh;
  background-image:
  linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('https://firebasestorage.googleapis.com/v0/b/sam-mudick.appspot.com/o/desertbg.jpeg?alt=media&token=5195757c-31b2-416d-9215-2a1e46daed03'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

