.skills-header {
  text-align: right;
  margin: 1em 3em;
}

.skills-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 2em;
}

i.fab {
  font-size: 45px;
  margin: 2em;
}