@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'variables';
@import 'skills';
@import 'projects';
@import 'about';

body {
  font-family: 'Roboto', sans-serif;
}
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-navbar {
  background-color: #6CABDD;
}

.brand-logo {
  margin-left: 1em;
}

.brand-logo:hover {
  color: black;
}

.page-footer {
  width: 100%;
  padding: 1em;
  background-color: #6CABDD;
  color: white;
  margin-top: auto;
}
.page-footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
}

.page-footer a {
  color: white;
  text-decoration: none;
}

