@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'variables';
@import 'skills';
@import 'projects';
@import 'about';
@import 'mobile';

body {
  font-family: 'Roboto', sans-serif;
}
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dark {
  background-color: #121212;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

.page-navbar {
  background-color: #6CABDD;
  a {
    color: white;
    text-decoration: none;
  }
}

.navbar-toggler {
  border-color: #ffffff;
  margin-bottom: 1em;
}
.navbar-toggler:focus {
  background-color: #6CABDD;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.brand-logo {
  margin-left: 1em;
}

.brand-logo:hover {
  color: black;
}

.page-footer {
  width: 100%;
  padding: 1em;
  background-color: #6CABDD;
  color: white;
  margin-top: auto;
}
.page-footer ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
}

.page-footer a {
  color: white;
  text-decoration: none;
}
.altFont {
  font-family: 'Inconsolata', monospace;
  font-size: 48px;
  margin-bottom: 1em;
}
